

.footer{

    background-image:url('../imgs/footer\ \(2\).jpg');
       background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 60vh; 
      width: 100%; 

}